<div class="container">
  <app-post-form (onAdd)="updatePosts($event)"></app-post-form>
  <input type="text" [(ngModel)]="search" placeholder="Search...">
  <hr/>
  <app-post *ngFor="let p of posts | filterPosts: search"
            [myPost]="p"
            (onRemove)="deletePost($event)">
    <!--    *ngFor="let p of posts"-->
    <!--    [myPost]="p"-->
    <!--    (onRemove)="deletePost($event)"-->


    <small *ngIf="p.text.length>20; else short">Пост довгий</small>
    <ng-template #short>
      <small>Пост короткий</small>
    </ng-template>
  </app-post>
</div>
